pytorch-lightning==2.4.0
datasets==3.0.0
transformers==4.44.2
scikit-learn==1.3.2
tensorboard==2.14.0
tensorboardX==2.6.2.2
wandb=0.18.1
# torchmetrics=1.4.2  #already installed
matplotlib=3.7.5
seaborn=0.13.2